<section>
    <div class="flex flex-col lg:flex-row items-center mx-auto py-20 lg:max-w-7xl">
        <div class="w-1/2 flex justify-center items-center mx-auto">
            <img
                class="w-1/2"
                src="../../public/Mauricio.webp" 
                alt="Curso online">
        </div>
        
        <div class="w-1/2 flex flex-col text-left text-primary">
            <h2 class="text-4xl font-bold text-left mb-6 lg:max-w-3xl">
                ¿Con quién vas a aprender?
            </h2>

            <article class="text-lg font-light text-pretty">
                <p class="mb-6">
                    Mauricio Duque Z. | Creador y principal en Seminarios.Online®.
                </p>

                <p class="mb-4">
                    Es reconocido por ser el <span class="font-bold">fundador y director de Seminarios Online</span>, una plataforma que ha revolucionado la educación digital en América Latina. Con más de <span class="font-bold">dos décadas de experiencia en el mundo digital</span>, Mauricio ha dedicado su carrera a enseñar cómo comercializar productos digitales de manera efectiva.
                </p>

                <p class="mb-4">
                    Su motivación es ayudar a otros latinoamericanos a alcanzar sus objetivos con la mejor herramienta del siglo XXI para los negocios, Internet.
                </p>
            </article>
        </div>
    </div>
</section>