<a 
    class="md:text-lg rounded-full flex justify-center items-center gap-x-2 py-1 px-4 md:py-2 md:px-6 bg-wa hover:scale-105 transition duration-200 ease-in-out"
    { ...Astro.props} target="_blank">
    <slot >
</a>