---
import CTA from "./CTA.astro";
import Hotmart from "./icons/Hotmart.astro";


---

<footer class="bg-primary/90">
    <div class="flex justify-between items-center lg:max-w-7xl mx-auto p-2">
        <CTA class="block w-10">
            <Hotmart class="size-10"/>
            Hotmart
        </CTA>

        <p class="text-secondary md:text-lg">Hasta el 31 de Mayo | Pocos Cupos disponibles</p>
    </div>
</footer>