<nav class="bg-primary/90">
    <div class="flex justify-between items-center lg:max-w-7xl mx-auto p-2">
        <img src="/public/EducaLogo.png" class="w-40" />

        <p class="text-secondary md:text-lg">Hasta el 31 de Mayo | Pocos Cupos disponibles</p>
    </div>
</nav>