---
import CTA from '@/components/CTA.astro'
import WhatsAppIcon from '@/components/icons/WhatsApp.astro'
---

<section class="px-2 ms:px-0 mb-14 pb-10 bg-primary" style="clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);">
    <article class="flex flex-col justify-center items-center mx-auto py-8 lg:w-[1000px]">
        <h1 class="text-wrap md:leading-normal text-2xl md:text-4xl font-bold text-center justify-center items-center py-1 mb-4">Monetiza tu conocimiento creando tu propio curso digital y <span class="px-2 bg-secondary">alcanza la libertad financiera</span> enseñando lo que amas.</h1>
        <h2 class="text-secondary text-xl md:text-3xl text-center justify-center items-center mb-4">!Gana con lo que sabes!</h2>

        <div class="flex justify-center items-center mb-14">
            <div class="w-[300px] md:w-[800px] lg:w-[1000px] h-auto" style="position:relative;padding-top:56.25%;">
                <iframe id="panda-81f22bc4-621e-44e6-b103-59ef80bf94c4" src="https://player-vz-06a59c82-d9a.tv.pandavideo.com/embed/?v=81f22bc4-621e-44e6-b103-59ef80bf94c4" style="border:none;position:absolute;top:0;left:0;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture" allowfullscreen=true width="100%" height="100%" fetchpriority="high"></iframe>
            </div>
        </div>
    
        <CTA class="block w-10" href="https://wa.me/50230161049?text=Hola, quiero información con respecto a la creación de cursos">
            <WhatsAppIcon class="size-8 md:size:10" />
            Escríbenos por WhatsApp
        </CTA>
    </article>
</section>




