<section>
    <p>
        Aplica tanto para cursos propios como para cursos de terceros con la agencia de Coproducción
    </p>

    <p>
        Actualmente, crear cursos a partir de tus conocimientos y venderlos en Internet es una de las formas más efectivas de generar ingresos pasivos para que logres tu libertad financiera.
    </p>
</section>