<section class="flex flex-col leading-relaxed mx-auto justify-center text-primary lg:max-w-4xl mb-14">
    <h2 class="text-3xl text-center mx-auto mb-8 font-bold">
        ¿Estás listo para lograr la independencia financiera creando tu propio curso digital?
    </h2>

    <article class="text-xl mx-auto font-light [&>p]:mb-6 text-pretty">
        <p>
            La respuesta es sencilla, tienes dos opciones: sí o no.
        </p>
    
        <p>
            Si la respuesta es no, nuestra recomendación es que cierres esta página porque vamos a contar algo de mucho valor para las personas que tienen claro que quieren tener un negocio y vender en Internet.
        </p>
    
        <p>
            Verás, <span class="font-bold">en Internet hay tanta información que parece imposible saber cómo crear tu producto dígital y que éste se venda bien, si no tienes alguien que te guíe.</span>
        </p>
    
        <p>
            Porque para crear un cuso que se venda en Internet hay mucho que tener en cuenta.
        </p>
    
        <p>
            Más de tres cuartas partes de los usuarios de Internet compran online, <span class="font-bold">lo que representa una oportunidad gigantesca. </span>
        </p>
        
        <p>
            Aprender a crear cursos en línea y que éstos se vendan en la web es crucial, no solo para emprendedores sino para cualquier profesional del siglo XXI. 
        </p>
    
        <p>
            Estamos en el primer momento de la Historia en el que cualquier persona <span class="font-bold">(¡cualquier persona!)</span> puede obtener una fuente de ingresos de vender en Internet.
        </p>
            
        <h3 class="text-3xl text-center pt-8 font-bold lg:w-3xl">    
        ¡Es el momento perfecto para convertirte en un emprendedor digital y <span class="bg-secondary p-1">vivir de lo que sabes!</span>
        </h3>
    </article>
</section>