---
import CheckBox from "./icons/CheckBox.astro";
---

<section class="bg-secondary">
    <div class="flex flex-col lg:flex-row mx-auto py-20 lg:max-w-7xl">
        <div class="w-1/2 flex flex-col text-left text-primary">
            <h2 class="text-4xl font-bold text-left mb-6 lg:max-w-3xl">
                ¿En qué consiste esta capacitación?
            </h2>

            <article class="text-lg font-light text-pretty">
                <p class="mb-4">
                    Educa.Online te ofrece una solución integral para convertir tu conocimiento en un producto digital rentable.
                </p>

                <p class="mb-6">
                    Tendrás acceso al contenido que sabemos que funciona porque lo hemos aplicado nosotros y miles de personas y te permitirá iniciar tu camino hacia la libertad financiera.
                </p>

                <li class="list-none flex items-start gap-x-4 mb-2">
                    <span class="w-8">
                        <CheckBox class="size-6"/>
                    </span>
                    <p>
                        <span class="font-bold">Aprenderás a diseñar y preparar</span> la información esencial para tu producto digital.
                    </p>
                </li>

                <li class="list-none flex items-start gap-x-4 mb-2">
                    <span class="w-8">
                        <CheckBox class="size-6"/>
                    </span>
                    <p>
                        <span class="font-bold">Dominarás la metodología de Feldman</span> para estructurar tu curso y resolver problemas específicos del mercado.
                    </p>
                </li>

                <li class="list-none flex items-start gap-x-4 mb-2">
                    <span class="w-8">
                        <CheckBox class="size-6"/>
                    </span>
                    <p>
                        <span class="font-bold">Implementarás estrategias efectivas</span> para grabar tu contenido, manteniendo a los estudiantes comprometidos.
                    </p>
                </li>

                <li class="list-none flex items-start gap-x-4 mb-2">
                    <span class="w-8">
                        <CheckBox class="size-6"/>
                    </span>
                    <p>
                        <span class="font-bold">Aprenderás a publicar tu curso de manera rápida y sencilla</span> en plataformas como Hotmart®.
                    </p>
                </li>

                <li class="list-none flex items-start gap-x-4 mb-2">
                    <span class="w-8">
                        <CheckBox class="size-6"/>
                    </span>
                    <p>
                        <span class="font-bold">Desarrollarás tácticas para atraer afiliados</span> que comercialicen tu producto, ampliando tu alcance y ventas.
                    </p>
                </li>
            </article>
        </div>

        <div class="w-1/2 flex justify-center items-center mx-auto">
            <img
                class="w-3/4"
                src="../../public/Mockups.webp" 
                alt="Curso online">
        </div>
    </div>
</section>