<section>
    <p>
        Hasta hoy a las 11 de la noche cierro inscripciones
    </p>

    <p>
        Antes estaba en 
    </p>

    <p>
        67 dólares
    </p>


    <p>
        50% de descuento
    </p>

    <p>
        Aplica tanto para cursos propios como para cursos de terceros con la agencia de Coproducción
    </p>
</section>