<section class="bg-secondary">
    <div class="flex flex-col gap-x-2 lg:flex-row mx-auto py-20 lg:max-w-7xl">
        <div class="w-3/4 flex flex-col justify-start text-left text-primary">
            <h2 class="text-4xl font-bold text-left mb-6 lg:max-w-3xl">
                ¿En qué consiste este curso?
            </h2>

            <article class="text-lg font-light [&>p]:mb-6 text-pretty lg:max-w-3xl">
                <p>
                    Educa.Online te ofrece una solución integral para convertir tu conocimiento en un producto digital rentable.
                </p>

                <p>
                    Tendrás acceso al contenido que sabemos que funciona porque las hemos aplicado nosotros y miles de personas y te permitirá iniciar tu camino hacia la libertad financiera.
                </p>

                <p>
                    Aprenderás a diseñar y preparar la información esencial para tu producto digital.
                </p>

                <p>
                    ominarás la metodología de Feldman para estructurar tu curso y resolver problemas específicos del mercado.
                </p>

                <p>
                    Implementarás estrategias efectivas para grabar tu contenido, manteniendo a los estudiantes comprometidos.
                </p>

                <p>
                    Aprenderás a publicar tu curso de manera rápida y sencilla en plataformas como Hotmart®.
                </p>

                <p>
                    Desarrollarás tácticas para atraer afiliados que comercialicen tu producto, ampliando tu alcance y ventas.
                </p>
            </article>
        </div>

        <div class="w-1/4 flex justify-center items-center mx-auto">
            <img 
                class="w-86"
                src="../../public/3d-business-man.png" 
                alt="Curso online" class="w-full">
        </div>
    </div>
</section>